.photo-collage {
    max-width: 100%;
    margin-bottom: 35px;
    -ms-grid-columns: 1fr 1.25fr;
    grid-template-columns: 1fr 1.25fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    }

.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    }

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}